{% extends "header.html" %}
{% block content %}
  <h1>Tampil Operasi Aritmetika</h1>
  <table border="1">
    <th>No</th><th>Nilai 1</th><th>Nilai 2</th><th>Operator</th><th>Hasil</th><th>Keterangan</th><th>Opsi</th>    
    {% for rows in hasilnya %}
    <tr>
      <td>{{ rows.id }}</td><td>{{ rows.nilai_1}}</td><td>{{ rows.nilai_2}}</td>
      <td>{{ rows.operator }}</td><td>{{ rows.hasil }}</td><td>{{ rows.ket }}</td>
      <td><a href="{{ url_for('edit_data',id=rows.id)}}">Edit</a> | <a href="{{url_for('hapus_data',id=rows.id)}}" onClick="return tanya()">Hapus</a></td>
    </tr>       
    {% endfor %}
  </table>
{% endblock %}       